body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

.box {
    background: white;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4257ec;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: darkorange;
}

pre {
    background: black;
    color: #00ff00;
    padding: 10px;
    white-space: pre-wrap;

}
